@use "../_includes/modularscale" as ms;
@use "../_includes/breakpoints" as bp;


header {
  nav {
    @include ms.modscale(-1, $responsive: true);

    a {
      color: var(--color-text);
    }

    ul {
      font-weight: 600;
      li {
        background: var(--color-surface);
        border-right: .1rem solid var(--color-border);

        &.is-ancestor,
        &.is-active {
          background: var(--color-highlight);
        }
      }

      .nav-group {
        ul {
          display: flex;
          flex-direction: row;
          gap: .25rem;
        }
      }
    }
  }
}

.breadcrumb {
  margin: 1rem 0 2rem 0;
}