<footer>
  <p>made with ❤️ and font from a lot of people.</p>
</footer>


{# <script src="/js/typed.umd.js"></script>
<script>
  var typed = new Typed('#fonttitle', {
    strings: ['{{title}}'],
    typeSpeed: 100,
    showCursor: false
  });
</script> #}