<header>
<nav>
    <ul class="primary">
      {% set navPages = collections.all | eleventyNavigation %}

      {% for entry in navPages | sort(false, false, 'family') %}
        <li class="{{ entry.title | slugify }}{% if entry.url == page.url %} active{% endif %}">
          <a href="{{ entry.url }}">{{ entry.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </nav>
</header>