<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or site.title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
  {% if selectedFontFolder is defined %}
  <link rel="stylesheet" href="/css/fonts/{{selectedFontFolder}}.css">
  {% endif %}
  {% if color %}
  <style>
    :root {
        --color: {{ color }};
    }
  </style>
  {% endif %}
  {% if extra_css %}
    <link rel="stylesheet" href="{{ extra_css | url }}">
  {% endif %}
</head>
<body class="specimen {{ selectedFontFolder | slugify }}">
  <div class="container">
  {% include "header.njk" %}

  <main>
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}
  </div>
</body>
</html>
