---
layout: layouts/base.njk
title: Alternatives
extra_css: "/css/webfonts/all-fonts.css"

eleventyNavigation:
  key: Alternatives
  order: 1
---


<h1>List of alternatives for classic fonts</h1>

<dl>
  <dt>Serif (Serifenschriften)</dt>
  <dd>Schriften mit kleinen Endstrichen oder "Füßchen" an den Buchstaben (z. B. *Times New Roman*). Sie gelten als klassisch, lesefreundlich im Druck und elegant.</dd>

  <dt>Sans / Sans Serif (Grotesk)</dt>
  <dd>Schriften *ohne* Serifengleiche Endstriche, z. B. <a href="">Tex Gyre Heros</a> oder, <a href="">Tex Gyre Adventor</a>. Im deutschsprachigen Raum nennt man diese Klasse traditionell **Grotesk**, weil man sie im 19. Jahrhundert anfangs als "hässlich/grotesk" empfand. Sie wirken modern und sauber.</dd>

  <dt>Slab Serif (Egyptienne)</dt>
  <dd>Schriften mit sehr dicken, blockartigen Serifenelementen. Sie wirken oft plakativ, kräftig oder haben einen Retro-Touch.</dd>

  <dt>Script</dt>
  <dd>Schriften, die aussehen wie handschriftlich geschrieben, oft mit fließenden, miteinander verbundenen Buchstaben.</dd>

  <dt>Display</dt>
  <dd>Schriften, die für große Überschriften (Plakate, Logos) optimiert sind. Sie sind oft sehr charakterstark, eignen sich aber überhaupt nicht für langen Fließtext.</dd>

  <dt>Humanist (Humanistische Antiqua)</dt>
  <dd>Die ältesten Druckschriften (15. Jahrhundert), orientiert an der menschlichen Handschrift. Der Strichstärkeneinklang ist weich, die Achse der Rundungen ist geneigt (wie beim Schreiben mit einer Feder).</dd>

  <dt>Garalde (Mediäval / Französische Antiqua)</dt>
  <dd>Etwas feiner ausgearbeitet (z. B. *Garamond*). Die Kontraste zwischen dicken und dünnen Linien werden deutlicher.</dd>

  <dt>Didone (Klassizistische Antiqua)</dt>
  <dd>Extrem hoher Kontrast zwischen hauchdünnen Haarstrichen und tiefschwarzen Grundstrichen (z. B. *Bodoni*). Die Achsen stehen kerzengerade.</dd>

  <dt>Grotesk (Early/Athentic Grotesque)</dt>
  <dd>Die frühen serifenlosen Schriften des 19. Jahrhunderts. Oft etwas unregelmäßig, aber voller Charakter.</dd>

  <dt>Neo-Grotesk</dt>
  <dd>Extrem sachlich, neutral und funktional (z. B. *Helvetica* oder *Univers*). Kaum Strichstärkenkontrast.</dd>

  <dt>Humanist Sans</dt>
  <dd>Serifenlose Schriften, die sich an den Proportionen alter Renaissance-Schriften orientieren (z. B. *Gill Sans* oder *Frutiger*). Sie wirken wärmer und lebendiger als die kühle Helvetica.</dd>

  <dt>Geometrische Grotesk</dt>
  <dd>Schriften, die streng auf geometrischen Formen wie perfekten Kreisen, Quadraten und Dreiecken basieren (z. B. *Futura*).</dd>
</dl>


<main class="grid">

<article class="article">
  <h2 class="font-firasans">Similar fonts to ITC Officiana Sans</h2>
    <p>
  ITC Officiana by Erik Spiekermann is not easy to substitute. The "J" and "i" are very distinct. But here are some similar fonts:
</p>
<ul>
  <li>
    <strong><a href="{{ '/sans/FiraSans.html' | url }}">Fira Sans</a></strong> (also by Erik Spiekermann) is a strong candidate, but not quite the same.
  </li>
  <li>
    <strong><a href="{{ '/sans/Asap.html' | url }}">Asap</a></strong> is too rounded to fully substitute ITC Officiana. Actually this is the reason it is in this collection.
  </li>
  <li>
    <strong><a href="{{ '/sans/SourceSans.html' | url }}">Source Sans</a></strong> is as close as almost any other sans-serif font. But it's an free alternative.
  </li>
</ul>
</article>

<article class="article">

  <h2 class="font-firasans">Similar fonts to FF Meta</h2>

  <p>Erik Spiekermann again, and he also delivered the next best alternative to FF Meta with his collaboration with Mozilla.
  </p>
  <ul>
    <li>
      <strong><a href="{{ '/sans/FiraSans.html' | url }}">Fira Sans</a></strong> by Erik Spiekermann.
    </li>
  </ul>

</article>

<article class="article">
  <h2 class="font-jost">Similar font to Futura</h2>
  <ul>
    <li>
      <strong><a href="{{ '/sans/Jost.html' | url }}">Jost</a></strong>
    </li>
  </ul>
  <figure>
    <img src="/img/alt/Futura/Futura_ad_1928.webp" alt="Futura ad from 1928">
    <figcaption>
      Ad for Futura in 1928
    </figcaption>
  </figure>
</article>

<article class="article">
  <h2 class="font-texgyreadventor">Similar font to ITC Avant Garde Gothic</h2>
  <ul>
    <li>
      <strong><a href="{{ '/sans/TexGyreAdventor.html' | url }}">Tex Gyre Adventor</a></strong> ist eine serifenlose Linearantiqua mit runden Buchstaben, die auf einem Kreis konstruiert sind — ideal für moderne,
      geometrisch geprägte Layouts.
    </li>
  </ul>
    <figure>
    <img src="/img/alt/ITCAvantGarde/ArcRaiders_KeyArt_Main_1-1_2160x2160.webp" alt="KeyArt from ArcRaiders Presskit">
    <figcaption>
      Keyart from ArcRaiders Presskit
    </figcaption>
  </figure>
</article>

<article class="article">
  <h2 class="font-metropolis bold">Similar font to Gotham</h2>
  <p>Eine geometrische Grotesk, die Tobias Frere-Jones im Jahr 2000 im Auftrag des Magazins GQ entwarf und dabei von der Beschilderung New Yorker Nachkriegsbauten inspiriert wurde.</p>
  <ul>
    <li>
      <strong><a href="{{ '/sans/Metropolis.html' | url }}">Metropolis</a></strong>
    </li>
  </ul>
      <figure>
    <img src="/img/alt/Metropolis/Gotham_Yes_we_Can.webp" alt="Obama Posterart">
    <figcaption>
      Poster from the Obama camapaign 2008
    </figcaption>
  </figure>

</article>

<article class="article">
  <h2 class="font-texgyrebonum">Similar font to ITC Bookmann</h2>
  <ul>
    <li>
      <strong><a href="{{ '/sans/TexGyreBonum.html' | url }}">Tex Gyre Bonum</a></strong> ist eine zweielementige Antiqua für den Buchsatz, mit kräftigen Serifen und hoher Lesbarkeit für längere Texte
    </li>
  </ul>
</article>

<article class="article">
  <h2 class="font-texgyrecursor">Similar font to Courier / Courier New</h2>
  <ul>
    <li>
      <strong><a href="{{ '/sans/TexGyreCursor.html' | url }}">Tex Gyre Cursor</a></strong> basiert auf URW Nimbus Mono L, abgeleitet von Courier, das von Howard G. Kettler 1955 für IBM entworfen wurde — die
      klassische Schreibmaschinenschrift für Code und technische Dokumente
    </li>
  </ul>
</article>

<article class="article">
  <h2 class="font-texgyreheros">Similar font to Helvetica / Arial</h2>
  <ul>
    <li>
      <strong><a href="{{ '/sans/TexGyreHeros.html' | url }}">Tex Gyre Heros</a></strong> ist eine freie Alternative zur Schriftfamilie Adobe Helvetica und damit gleichzeitig auch ein freier funktionaler Ersatz für
      Arial
    </li>
  </ul>
        <figure>
    <img src="/img/alt/TexGyreHeros/helvetica_ad.webp" alt="Helvetica Ad">
    <figcaption>
      Helvetica Ad
    </figcaption>
  </figure>
</article>

<article class="article">
  <h2 class="font-texgyrepagella">Similar font to Palantino</h2>
  <ul>
    <li>
      <strong><a href="{{ '/sans/TexGyrePagella.html' | url }}">Tex Gyre Pagelle</a></strong> basiert auf URW Palladio L, abgeleitet von Palatino, das von Hermann Zapf in den 1940er Jahren entworfen wurde — eine
      elegante Humanist-Antiqua mit ausgeprägter typografischer Persönlichkeit
    </li>
  </ul>
</article>

<article class="article">
  <h2 class="font-texgyreschola">Similar font to Century Schoolbook</h2>
  <ul>
    <li>
      <strong><a href="{{ '/sans/TexGyreSchola.html' | url }}">Tex Gyre Schola</a></strong> kann als Ersatz für Century Schoolbook verwendet werden, das von Morris Fuller Benton 1919 für American Type Founders
      entworfen wurde.
    </li>
  </ul>
</article>

<article class="article">
  <h2 class="font-texgyretermes">Similar font to Times New Roman</h2>
  <ul>
    <li>
      <strong><a href="{{ '/sans/TexGyreTermes.html' | url }}">Tex Gyre Termes</a></strong> kann als Ersatz für Times New Roman verwendet werden, das von Stanley Morison zusammen mit Starling Burgess und Victor
      Lardent für die Londoner Zeitung „The Times" entworfen und 1932 von der Monotype Corporation erstmals herausgegeben
      wurde.
    </li>
  </ul>
</article>

<article class="article">
  <h2 class="font-dinish">Similar font to DIN 1451</h2>
  <ul>
    <li>
      <strong><a href="{{ '/sans/DINish.html' | url }}">Tex DINish</a></strong> is a modern computer version of the DIN 1451 font from 1931
    </li>
  </ul>
</article>

<article class="article">
  <h2 class="font-overpass">Similar font to Highway Gothic</h2>
  <p>Eine serifenlose Schrift, die von der US-amerikanischen Federal Highway Administration entwickelt wurde und deren
  Buchstabenformen darauf ausgelegt sind, maximale Lesbarkeit auf große Entfernung und bei hoher Fahrgeschwindigkeit zu
  gewährleisten.</p>
  <ul>
    <li>
      <strong><a href="{{ '/sans/Overpass.html' | url }}">Overpass</a></strong>
    </li>
    <li>
      <strong><a href="{{ '/sans/Juntion.html' | url }}">Junction</a></strong>
    </li>
  </ul>
</article>
</main>


