---
layout: layouts/base.njk

title: Atkinson Hyperlegible Next
selectedFontFolder: "AtkinsonHyperlegibleNext"
url: https://www.brailleinstitute.org/freefont/
comment: "Nomen et omen. Very readable. I like it and its growing on me. Developed by the Braille Institute of America this font is intended to be easily readable for readers who are partially blind, with all characters being as different from each other as possible."
fontauthor: Braille Institute, Applied Design Works, Elliott Scott, Megan Eiswerth, Linus Boman, Theodore Petrosky
fontyear: 2019

heroletter: Br
heroword: Braille
herostyle:
color: SkyBlue

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Atkinson Hyperlegible
  family: Sans
---


{% include "font-poster.njk" %}
