---
layout: layouts/base.njk

title: Bodoni*
selectedFontFolder: "Bodoni"
url: github.com/indestructible-type/Bodoni
color: Sienna

tags: sommer, winter, herbst, frühling
gallery:
  - url: "/img/landschaft.jpg"
    alt: "Eine weite Landschaft bei Sonnenuntergang"
    source: "Max Mustermann"

fontauthor: Owen Earl
fontyear: 1549

heroletter: Bd
heroword: VITA NUOVA
herostyle: bold

abouttheauthor:
aboutthefont:


eleventyNavigation:
  key: Bodoni*
---

{% include "font-poster.njk" %}
