---
layout: layouts/base.njk

title: Cormorant
selectedFontFolder: "Cormorant"
url: github.com/CatharsisFonts/Cormorant

tags: Garamond-inspired, display, elegant, classic

fontauthor: Christian Thalmann
fontyear: 2015

heroletter: Aá
heroword: Chaffeur Acteon
herostyle:
color: saddlebrown

abouttheauthor:
aboutthefont: Cormorant is a free display type family developed by Christian Thalmann (Catharsis Fonts). It comprises a total of 45 font files spanning 9 different styles (Roman, Italic, Infant, Infant Italic, Garamond, Garamond Italic, Upright Cursive, Small Caps, Unicase) and 5 weights (Light, Regular, Medium, Semibold, Bold). For an illustrated presentation and description of the family, please visit its Bēhance page.

eleventyNavigation:
  key: Cormorant
  family: Serif
---

{% include "font-poster.njk" %}

