---
layout: layouts/base.njk

title: DINish
selectedFontFolder: "DINish"
url: https://github.com/playbeing/dinish

tags:  DIN-inspired, Industrial, Geometric, Neutral

fontauthor: Bert Driehuis, Stefan Peev, Altinn, Datto Inc.
fontyear: 2023

heroletter: Aa
heroword: Autobahn
herostyle:
color: dimgray

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: DINish
  family: Sans
---


{% include "font-poster.njk" %}
