---
layout: layouts/base.njk

title: DINish
selectedFontFolder: "DINish"
url: https://github.com/playbeing/dinish

fontauthor: Bert Driehuis, Stefan Peev, Altinn, Datto Inc.
fontyear: 2023

heroletter: Aa
heroword: Autobahn
herostyle:

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: DINish
---


{% include "font-poster.njk" %}
