---
layout: layouts/base.njk

title: Fira Sans
selectedFontFolder: "FiraSans"
url: https://mozilla.github.io/Fira/
comment: "Comissioned by The Mozilla Foundation and Telefonica S.A for their mobile OS. Very similar to Erik Spiekermanns \"FF Meta\"."
fontauthor: Erik Spiekermann, Ralph du Carrois
fontyear: 2013

heroletter: Fi
heroword: Metemorphose
herostyle:
color: Tomato

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Fira Sans
  family: Sans
---


{% include "font-poster.njk" %}
