---
layout: layouts/base.njk

title: GFSDidot
selectedFontFolder: "GFSDidot"
url: https://fonts.google.com/specimen/GFS+Didot
color: MediumOrchid

gallery:
  - url: "/img/landschaft.jpg"
    alt: "Eine weite Landschaft bei Sonnenuntergang"
    source: "Max Mustermann"

fontauthor: Greek Font Society
fontyear:

heroletter: Dt
heroword: Molière
herostyle:

abouttheauthor:
aboutthefont:


eleventyNavigation:
  key: GFSDidot
  family: Serif
---

{% include "font-poster.njk" %}
