---
layout: layouts/base.njk

title: GFS Didot
selectedFontFolder: "GFSDidot"
url: https://greekfontsociety-gfs.gr/typefaces/19th_century
color: MediumOrchid

gallery:
  - url: "/img/landschaft.jpg"
    alt: "Eine weite Landschaft bei Sonnenuntergang"
    source: "Max Mustermann"

fontauthor: Greek Font Society
fontyear:

heroletter: Gt
heroword: Molière
herostyle:

abouttheauthor:
aboutthefont:


eleventyNavigation:
  key: GFSDidot
  family: Serif
---

{% include "font-poster.njk" %}
