---
layout: layouts/base.njk

title: IBM Plex Sans
selectedFontFolder: "IBMPlexSans"
url: https://github.com/IBM/plex

fontauthor: 	Mike Abbink, Paul van der Laan, Pieter van Rosmalen
fontyear: 2017

heroletter: Aa
heroword: Computer
herostyle:
color: MediumBlue

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: IBM Plex Sans
---


{% include "font-poster.njk" %}
