---
layout: layouts/base.njk
title: Freie Open-Source Schriften
extra_css: "/css/webfonts/all-fonts.css"

eleventyNavigation:
  key: Index
  order: 0
---
<h1>Persönliche Sammlung von freien Schriftarten</h1>
<blockquote>Jeder hat doch eine Lieblingsschriftart, oder? ODER!?</blockquote>
<p>Dies ist lediglich eine persönliche und subjektive Sammlung von Schriftarten, die mir im Gedächtnis geblieben sind, und begann als Vorwand, um den <a href="https://github.com/elbym/font-collection/blob/main/font_specimen_generator.py">font_specimen_generator.py</a> (den ich Claude gebeten hatte, zusammenzubasteln) vorzuführen. Stattdessen bin ich zu einer <a href="https://elbym.github.io/font-collection/">HTML-Vorschau</a> gewechselt.</p>
<p>Diese Liste ist auch beeinflusst von <a href="https://www.teuderun.de/schriftarten/top-10/">Teuderun</a> und <a href="https://typotheque.luuse.io/">Free Font Library</a></p>

<p>Das Schriftmusterplakat ist stark inspiriert von (kopiert von) <a href="https://sammlungen.ub.uni-frankfurt.de/drucke/nav/classification/10736375">Schriftprobensammlung Gustav Mori</a> an der Universität Frankfurt.</p>

<p>Warum bin ich erst so spät darauf gestoßen? <a href="https://www.forthehearts.net/about">Claus Eggers Sørensen</a> hat wunderbare Musterlayouts für seine <a href="https://www.forthehearts.net/playfair">Playfair</a>-Schrift <a href="https://www.forthehearts.net/demonstration/Playfair2_Words.html ">Word Tower Specimen Demo</a></p>
<h2>Liste der Schriftarten. In keiner bestimmten Reihenfolge.</h2>

<section class="font-family-card-list">
  {% for node in fontFolders %}
    {% if node.isLeaf %}
      {% include "font-card.njk" %}
    {% endif %}
  {% endfor %}
</section>

<h2>python font_specimen_generator.py</h2>
<p>
  Ich habe Claude gebeten, ein Python-Skript zusammenzubasteln, um eine Vorschau der Schriftmuster zu generieren, inspiriert von denen auf <a href="https://commons.wikimedia.org/wiki/Category:Typeface_samples_(Font_Specimen_Creator);_raster_graphics">Wikipedia</a>

  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Adobe_Caslon.png/250px-Adobe_Caslon.png" alt="Vorschau des Wikipedia-Schriftart-Musters">
</p>

<p>Derzeit werden 3 verschiedene Designs unterstützt: cremefarben, dunkel, weiß</p>

<h4>Beispiele:</h4>
<code>
python font_specimen_generator.py --input ./fonts --output ./previews
python font_specimen_generator.py --input ./fonts --output ./previews --theme white
python font_specimen_generator.py --input ./fonts --output ./previews --width 1400 --theme cream
python font_specimen_generator.py --input ./fonts --output ./previews --overwrite
</code>