---
layout: layouts/base.njk
title: Index
extra_css: "/css/fonts/all-fonts.css"
---


<h1>Personal collection of (mostly free) fonts</h1>
<blockquote>Everyone has a favorite font, right? RIGHT!?</blockquote>

<p>This is just a personal and opinionated collection of fonts that stuck with me and started as an excuse to show off the <a href="https://github.com/elbym/font-collection/blob/main/font_specimen_generator.py">font_specimen_generator.py</a> (I asked Claude to cobble together). I switche to a <a href="https://elbym.github.io/font-collection/">HTML preview</a> instead.</p>
<p>This list is also influenced by <a hred="https://www.teuderun.de/schriftarten/top-10/">Teuderun</a>.</p>

<h2>List of Font. In no specific order.</h2>

<section class="font-family-card-list">
  {% for folder, items in fonts %}
    {% set page = collections.all | find("data.selectedFontFolder", folder) %}
    {% set familyName = page.data.title if page else items[0].family %}
    {% set fontPageUrl = page.url if page else "" %}
    {% set heroText = page.data.heroword if (page and page.data.heroword) else site.heroword %}
    {% set color = page.data.color if (page and page.data.color) else site.color %}
    {% set comment = page.data.comment if (page and page.data.comment)  else "" %}

    <article class="card {{ folder | slugify }}">

        {% if fontPageUrl %}
          <a class="bg-{{ color | slugify }}"
             href="{{ fontPageUrl }}"
             {% if backgrounds.length > 0 %}style="background-image: url('{{ backgrounds | random | url }}');"{% endif %}>
             <h3>{{ familyName }}</h3>
          </a>
        {% else %}
          <h3>{{ familyName }}</h3>
        {% endif %}

      <p class="letters">Aa Rr Ee</p>
      <p class="letters italic">Aa Rr Ee</p>

      <p class="display-size-2 heroword ligature {{ color | slugify }}">{{ heroText }}</p>
      <p class="display-size-2 text-align-right old-nums">0123456789</p>
      {# {% if comment %}
        <p class="comment small">
          {{ comment | truncate(100, true, "…") }}
        </p>
      {% endif %} #}
    </article>
  {% endfor %}
</section>

<h2>python font_specimen_generator.py</h2>
<p>
  Asked Claude to cobble together a python script to generate the font specimen preview inspired by the ones on <a href="https://commons.wikimedia.org/wiki/Category:Typeface_samples_(Font_Specimen_Creator);_raster_graphics">Wikipedia</a>

  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Adobe_Caslon.png/250px-Adobe_Caslon.png" alt="Preview of the Sample Wikipedia font specimen">
</p>

<p>Currently supports 3 different themes: cream, dark, white</p>

<h4>Examples:</h4>
<code>
python font_specimen_generator.py --input ./fonts --output ./previews
python font_specimen_generator.py --input ./fonts --output ./previews --theme white
python font_specimen_generator.py --input ./fonts --output ./previews --width 1400 --theme cream
python font_specimen_generator.py --input ./fonts --output ./previews --overwrite
</code>