---
layout: layouts/base.njk

title: Inter
selectedFontFolder: "Inter"
url: https://rsms.me/inter/
comment: "As the website puts it: \"The 21st century standard\". It even has a nice URL."

fontauthor: Rasmus Andersson
fontyear: 2017

heroletter: Nt
heroword: "International"
herostyle:
color: DarkSlateBlue

imageOverrides:

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Inter
  family: Sans
---


{% include "font-poster.njk" %}
