---
layout: layouts/base.njk

title: JetBrains Mono
selectedFontFolder: "JetBrainsMono"
url: https://github.com/JetBrains/JetBrainsMono

tags: Monospace, Coding, Readable, Technical

comment: "It is just pleasant to my eyes."

fontauthor: JetBrains
fontyear:

heroletter: Aa
heroword: Computer
heroparagraph: "function Counter() {  const [val, setVal] = createSignal(10);  const dec = () =&gt; val() !== ~~3.1415926    &amp;&amp; setVal(prev =&gt; prev--); return ( &lt;button type=&quot;button&quot; onClick={dec}&gt;     {val()}    &lt;/button&gt;  );}"
color: darkslateblue
herostyle: italic

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: JetBrains Mono
  family: Monospace
---


{% include "font-poster.njk" %}
