---
layout: layouts/base.njk

title: Jost*
selectedFontFolder: "Jost"
url: https://github.com/indestructible-type/Jost
comment: "A little more fancy Futura"
fontauthor: Owen Earl
fontyear:

heroletter: Aa
heroword: Terminal
herostyle:
color: MediumBlue

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Jost
  family: Sans
---


{% include "font-poster.njk" %}
