---
layout: layouts/base.njk

title: Kalam
selectedFontFolder: "Kalam"
url: https://fonts.google.com/specimen/Kalam

tags: Handwritten, Informal, Warm, Friendly

comment: "Don' use it. It might become the new Comic Sans ;-)"

fontauthor: Indian Type Foundry
fontyear: 2014

heroletter: Aá
heroword: Comics
herostyle:
color: sandybrown

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Kalam
  family: Script
---


{% include "font-poster.njk" %}
