---
layout: layouts/base.njk

title: Krikikrak
selectedFontFolder: "Krikikrak"
url: https://www.carrois.com/typefaces/retail/Krikikrak/
fontauthor: Jenny du Carrois
fontyear:

heroletter: Aa
heroword: Paperplane
herostyle:
color: Coral

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Krikikrak
---


{% include "font-poster.njk" %}
