---
layout: layouts/base.njk

title: Krikikrak
selectedFontFolder: "Krikikrak"
url: https://www.carrois.com/typefaces/retail/Krikikrak/

tags: Handwritten, Comic Sans, Dynamic, Unconventional

comment: "If you are thinking Comic Sans why not fully embrace the inner child and use Krikikraki?"

fontauthor: Jenny du Carrois
fontyear:

heroletter: Aa
heroword: Paperplane
herostyle:
color: coral

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Krikikrak
  family: Script
---


{% include "font-poster.njk" %}
