---
layout: layouts/base.njk

title: League Spartan
selectedFontFolder: "LeagueSpartan"
url: https://theleagueofmoveabletype.com/league-spartan

fontauthor: Caroline Hadilaksono, Micah Rich, Tyler Finck, Matt Bailey
fontyear: 2011

heroletter: Aa
heroword: Computer
herostyle:

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: League Spartan
---


{% include "font-poster.njk" %}
