---
layout: layouts/base.njk

title: Libertinus Serif
selectedFontFolder: "LibertinusSerif"
url: https://github.com/alerque/libertinus

fontauthor: Philipp H. Poll
fontyear: 2025

heroletter: Ls
heroword: Sackgasse Pfefferspray
herostyle: italic

abouttheauthor:
aboutthefont:

eleventyNavigation:
  key: Libertinus Serif
---


{% include "font-poster.njk" %}
