---
layout: layouts/base.njk

title: Libre Caslon
selectedFontFolder: "LibreCaslon"
url: https://github.com/impallari/Libre-Caslon-Text
comment: "Caslon clone specifically optimized 
for web body text"

tags: Transitional, American, Classic, Legible

fontauthor: Christian Thalmann
fontyear: 2015

heroletter: Aá
heroword: Chaffeur Acteon
herostyle:
color: maroon

abouttheauthor:
aboutthefont: Cormorant is a free display type family developed by Christian Thalmann (Catharsis Fonts). It comprises a total of 45 font files spanning 9 different styles (Roman, Italic, Infant, Infant Italic, Garamond, Garamond Italic, Upright Cursive, Small Caps, Unicase) and 5 weights (Light, Regular, Medium, Semibold, Bold). For an illustrated presentation and description of the family, please visit its Bēhance page.

eleventyNavigation:
  key: Libre Caslon
  family: Serif
---

{% include "font-poster.njk" %}

