---
layout: layouts/base.njk

title: Libre Baskerville
selectedFontFolder: "LibreBaskerville"
url: https://github.com/impallari/Libre-Baskerville

tags: Transitional, Classic, Web-optimized, Readable

fontauthor: Pablo Impallari, Rodrigo Fuenzalida
fontyear: 2015

heroletter: Aa
heroword: Baskerville
herostyle:
color: darkred

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Libre Baskerville
  family: Serif
---


{% include "font-poster.njk" %}
