---
layout: layouts/base.njk

title: Libre Baskerville
selectedFontFolder: "LibreBaskerville"
url: https://github.com/impallari/Libre-Baskerville

fontauthor: Pablo Impallari, Rodrigo Fuenzalida
fontyear: 2015
tags: hero,water,fire,erath

heroletter: Aa
heroword: Baskerville
herostyle:

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Libre Baskerville
  family: Serif
---


{% include "font-poster.njk" %}
