---
layout: layouts/base.njk

title: Literata
selectedFontFolder: "Literata"
url: https://github.com/googlefonts/literata

fontauthor: Veronika Burian, José Scaglione
fontyear: 2017

heroletter: Lt
heroword: Pfefferspray
herostyle: italic

abouttheauthor:
aboutthefont:

eleventyNavigation:
  key: Literata
---


{% include "font-poster.njk" %}
