---
layout: layouts/base.njk

title: Literata
selectedFontFolder: "Literata"
url: https://github.com/googlefonts/literata
comment: "I didn't know of it before I stumbled across Teuderun and I like it a lot."

fontauthor: Veronika Burian, José Scaglione
fontyear: 2017

heroletter: Au
heroword: Pfeffer
herostyle: italic

abouttheauthor:
aboutthefont:

eleventyNavigation:
  key: Literata
  family: Serif
---


{% include "font-poster.njk" %}
