---
layout: layouts/base.njk

title: Maple Mono
selectedFontFolder: "MapleMono"
url: https://github.com/subframe7536/maple-font
color: CadetBlue

fontauthor: subframe7536
fontyear:

heroletter: Aa
heroword: Computer
herostyle:

aboutthefont:

eleventyNavigation:
  key: Maple Mono
---


{% include "font-poster.njk" %}
