---
layout: layouts/base.njk

title: Maple Mono
selectedFontFolder: "MapleMono"
url: https://github.com/subframe7536/maple-font
comment: "I am tying to befriend it."

tags: Monospace, Coding, Italic, Playful

fontauthor: subframe7536
fontyear:

heroletter: Aa
heroword: Computer
herostyle:
color: darkolivegreen

aboutthefont:

eleventyNavigation:
  key: Maple Mono
  family: Monospace
---


{% include "font-poster.njk" %}
