---
layout: layouts/base.njk

title: Metropolis
selectedFontFolder: "Metropolis"
url: https://github.com/dw5/Metropolis

fontauthor: Chris Simpson
fontyear: 2017

heroletter: Gt
heroword: "I’m Batman"
herostyle:
color: DarkSlateBlue

imageOverrides:
  "Gotham_Yes_we_Can.jpg":
    alt: "Das ikonische Obama-Poster von Shepard Fairey."
    source: "https://commons.wikimedia.org/wiki/File:Yes_we_Can.jpg"

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Metropolis
  family: sans
---


{% include "font-poster.njk" %}
