---
layout: layouts/base.njk

title: Mozilla Text
selectedFontFolder: "MozillaText"
url: https://github.com/mozilla/mozilla-type-family
tags: Functional, Legible, Practical, Durable

comment: "Need to slab on a header? There you go."

fontauthor: Studio DRAMA
fontyear: 2024

heroletter: Aá
heroword: Godzilla
herostyle:
color: darkorange

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Mozilla Text
  family: Serif
---


{% include "font-poster.njk" %}
