---
layout: layouts/base.njk

title: Mozilla Headline
selectedFontFolder: "MozillaHeadline"
url: https://github.com/mozilla/mozilla-type-family

tags: Display, Modern, Technical, Slab

comment: "Need to slab on a headline?"

fontauthor: Studio DRAMA
fontyear: 2024

heroletter: Aá
heroword: Godzilla
herostyle:
color: orangered

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Mozilla Headline
  family: Serif
---


{% include "font-poster.njk" %}
