---
layout: layouts/base.njk

title: Overpass
selectedFontFolder: "Overpass"
url: https://github.com/RedHatOfficial/Overpass

tags: Humanistic, Modern, Highway Aesthetics, Technical

comment: "Open-source font inspired by Highway Gothic on american road signs."

fontauthor: Dave Crossland
fontyear: 2021

heroletter: Sf
heroword: San Francisco
herostyle:
color: forestgreen

aboutthefont: "Overpass is an open source font family inspired by Highway Gothic. Sponsored by Red Hat Created by Delve Fonts."
abouttheauthor:

eleventyNavigation:
  key: Overpass
  family: Sans
---


{% include "font-poster.njk" %}
