---
layout: layouts/base.njk

title: Playwrite
selectedFontFolder: "PlaywriteDELA"
url: https://github.com/TypeTogether/Playwrite
color: RoyalBlue
comment: "Purely for sentimental reasons."

fontauthor: Veronika Burian, José Scaglione
fontyear: 2023

heroletter: Hi
heroword: Hello School
herostyle:

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Playwrite
  family: Script
---


{% include "font-poster.njk" %}
