---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for entry in collections.all | getManualNav %}
  <url>
    <loc>https://elbym.github.io/font-collection{{ entry.url }}</loc>
  </url>
  {%- endfor %}
  {%- for node in fontFolders %}
  <url>
    <loc>https://elbym.github.io/font-collection/{{ node.url }}.html</loc>
  </url>
  {%- endfor %}
  {%- for tag in fontTags %}
  <url>
    <loc>https://elbym.github.io/font-collection/tag/{{ tag | slugify }}.html</loc>
  </url>
  {%- endfor %}
</urlset>
