---
layout: layouts/base.njk
pagination:
  data: fontTags
  size: 1
  alias: tag
permalink: "tag/{{ tag | slugify }}.html"
---

<h1>{{ tag }}</h1>

<section class="font-family-card-list">
  {% for node in fontLeaves %}
    {% if tag in node.tags %}
      {% include "font-card.njk" %}
    {% endif %}
  {% endfor %}
</section>
