---
layout: layouts/base.njk

title: Tex Gyre Bonum
selectedFontFolder: "TexGyreBonum"
url: https://www.gust.org.pl/projects/e-foundry/tex-gyre

tags: Bookman-inspired, Classic, Friendly, Readable

comment: "TeX Gyre Bonum can be used as a replacement for ITC Bookman (designed by Alexander Phemister, 1860, redesigned by Edward Benguiat, 1975)"

fontauthor: Bogusław Jackowski, Janusz M. Nowacki, Piotr Strzelczyk
fontyear: 2006

heroletter: Aa
heroword: Bookshop
herostyle:
color: tan

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Tex Gyre Bonum
  family: Serif
---


{% include "font-poster.njk" %}
