---
layout: layouts/base.njk

title: Tex Gyre Adventor
selectedFontFolder: "TexGyreAdventor"
url: https://www.gust.org.pl/projects/e-foundry/tex-gyre

tags: Avant-garde-inspired, Geometric, Retro-modern, Classic

comment: "TeX Gyre Adventor can be used as a replacement for ITC Avant Garde Gothic (designed by Herb Lubalin and Tom Carnase, 1970)"

fontauthor: Bogusław Jackowski, Janusz M. Nowacki, Piotr Strzelczyk
fontyear: 2006

heroletter: Aa
heroword: Avant Garde
herostyle:
color: goldenrod

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Tex Gyre Adventor
  family: Sans
---


{% include "font-poster.njk" %}
