---
layout: layouts/base.njk

title: Tex Gyre Adventor
selectedFontFolder: "TexGyreAdventor"
url: https://www.gust.org.pl/projects/e-foundry/tex-gyre

fontauthor: Bogusław Jackowski, Janusz M. Nowacki, Piotr Strzelczyk 
fontyear:

heroletter: Aa
heroword: Computer
herostyle:

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Tex Gyre Adventor
---


{% include "font-poster.njk" %}
