---
layout: layouts/base.njk

title: Tex Gyre Adventor
selectedFontFolder: "TexGyreAdventor"
url: https://www.gust.org.pl/projects/e-foundry/tex-gyre
color: DarkSlateBlue

fontauthor: Bogusław Jackowski, Janusz M. Nowacki, Piotr Strzelczyk
fontyear: 2006
fontinfo: "TeX Gyre Adventor can be used as a replacement for ITC Avant Garde Gothic (designed by Herb Lubalin and Tom Carnase, 1970)"

heroletter: Aa
heroword: Avant Garde
herostyle:

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Tex Gyre Adventor
---


{% include "font-poster.njk" %}
