---
layout: layouts/base.njk

title: Tex Gyre Heros
selectedFontFolder: "TexGyreHeros"
url: https://www.gust.org.pl/projects/e-foundry/tex-gyre
color: Crimson

fontauthor: Bogusław Jackowski, Janusz M. Nowacki, Piotr Strzelczyk
fontyear: 2006
fontinfo: "TeX Gyre Heros can be used as a replacement for a popular font Helvetica, also known as Swiss (prepared by Max Miedinger with Eduard Hoffmann, 1957, at the Haas Type Foundry)"

heroletter: Aa
heroword: Swiss Cheese
herostyle:

imageOverrides:
  "use_of_helvetica.png":
    alt: "Famous Brands that Uses Helvetica"
    source: "https://www.graphicpear.com/blog/famous-brands-uses-helvetica/"

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Tex Gyre Heros
  family: Sans
---


{% include "font-poster.njk" %}
