---
layout: layouts/base.njk

title: Tex Gyre Schola
selectedFontFolder: "TexGyreSchola"
url: https://www.gust.org.pl/projects/e-foundry/tex-gyre

tags: Century-inspired, Classic, Traditional, Legible

comment: "TeX Gyre Schola can be used as a replacement for the Century Schoolbook typeface (designed by Morris Fuller Benton, 1919, for the American Type Founders; originally, italics were not designed, they were added in later revivals by Linotype and ITC)"

fontauthor: Bogusław Jackowski, Janusz M. Nowacki, Piotr Strzelczyk
fontyear: 2006

heroletter: Aa
heroword: Schoolbook
herostyle:
color: rosybrown

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Tex Gyre Schola
  family: Serif
---


{% include "font-poster.njk" %}
