---
layout: layouts/base.njk

title: Tex Gyre Pagella
selectedFontFolder: "TexGyrePagella"
url: https://www.gust.org.pl/projects/e-foundry/tex-gyre

fontauthor: Bogusław Jackowski, Janusz M. Nowacki, Piotr Strzelczyk 
fontyear:

heroletter: Aa
heroword: Computer
herostyle:

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Tex Gyre Pagella
---


{% include "font-poster.njk" %}
