---
layout: layouts/base.njk

title: Titillum Web
selectedFontFolder: "TitillumWeb"
url: http://nta.accademiadiurbino.it/titillium/

tags: Geometric, Display, Modern, Elegant

comment: "For when you need a slightly different look."

fontauthor: Diego Giusti, Accademia di Belle Arti di Urbino
fontyear:

heroletter: Aa
heroword: Terminal
herostyle:
color: teal

aboutthefont:
abouttheauthor:

eleventyNavigation:
  key: Titillum
  family: Sans
---


{% include "font-poster.njk" %}
