@use "breakpoints" as bp;
@use "modularscale" as ms;

html {
    transition-property: color, background-color, background-blend-mode;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.font-family-card-list {
    background: var(--color-background);

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;

    .card {
        border-radius: .5rem;
        border: 1px solid var(--color-border);
        margin: 1rem;
        padding: 1rem;
        background: var(--color-surface);
        padding-bottom: 1rem;
        letter-spacing: 0.05ch;
    }

    a {
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        margin: -1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 6rem;
        // text-decoration: none;
        color: var(--color-highlight);
        text-shadow: .05rem .05rem 0 var(--color-text-shadow);
        margin-bottom: 1rem;
        background-size: 135%;
        background-position: 50% 50%;
        background-blend-mode: screen;
        transition: background-size .5s ease-out;
        @media (prefers-color-scheme: dark) {
        background-blend-mode: multiply;
        }

        &:hover {
            background-size: 150%;
        }
    }
    h3,
    p {
        margin: 0;
    }
    h3 {
        @include ms.modscale(4, $responsive: true);
        padding: 1rem;
        font-weight: 600;
    }
    p {
        padding: 0 1rem;
    }
    .letters,
    .heroword {
        @include ms.modscale(5, $responsive: true);
        margin: 0;
    }
    .heroword {
        padding-top: 1rem;
        padding-bottom: 1rem;
        // color: lightblue;
        font-weight: 600;
        text-align: right;
    }
    .comment {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid var(--color-border);
    }
}

@include bp.media-breakpoint-up(md) {
    .font-family-card-list {
        flex-direction: row;
        justify-content: flex-start;

        .card {
            flex: 1 25%;
            .letters,
            .heroword {
                @include ms.modscale(3, $responsive: true);
            }
        }
    }
}