:root {
  // base colors
  --color-base-text: hsl(0, 0%, 0%);
  --color-base-shadow: hsla(0, 0%, 25%, .8);
  --color-base-background: #f5f4f0;
  --color-base-primary: RoyalBlue;

  // Mix colors
  --color-mix-light: #fff;
  --color-mix-dark: #111;

  --color-text:         color-mix(in oklab, var(--color-base-text),        var(--color-mix-light) 20%);
  --color-text-muted:   color-mix(in oklab, var(--color-base-text),  var(--color-mix-light) 50%);
  --color-background:   color-mix(in oklab, var(--color-base-background),  var(--color-mix-light) 20%);

  --color-accent:       color-mix(in oklab, var(--color-base-primary),      var(--color-mix-light) 20%);
  --color-highlight:    color-mix(in oklab, var(--color-base-primary),      var(--color-mix-light) 60%);
  --color-border:       color-mix(in oklab, var(--color-base-primary),      var(--color-mix-light) 50%);

  --color-text-shadow:  color-mix(in oklab, var(--color-base-shadow),      var(--color-mix-light) 20%);
  --color-surface:      color-mix(in oklab, var(--color-base-background),     var(--color-mix-dark) 20%);

  // CMYK Pattern
  --dot-size: 4px;
  --dot-start: 20%;
  --dot-end: 35%;
}

@media (prefers-color-scheme: dark) {
  :root {
    // Mix colors

    --color-text: color-mix(in oklab, var(--color-base-text), var(--color-mix-light) 90%);
    --color-text-muted: color-mix(in oklab, var(--color-base-text), var(--color-mix-light) 70%);
    --color-background: color-mix(in oklab, var(--color-base-background), var(--color-mix-dark) 90%);

    --color-accent: color-mix(in oklab, var(--color-base-primary), var(--color-mix-light) 40%);
    --color-highlight: color-mix(in oklab, var(--color-base-primary), var(--color-mix-dark) 50%);
    --color-border: color-mix(in oklab, var(--color-base-primary), var(--color-mix-dark) 50%);

    --color-text-shadow: color-mix(in oklab, var(--color-base-shadow), var(--color-mix-light) 20%);
    --color-surface: color-mix(in oklab, var(--color-base-background), var(--color-mix-dark) 80%);

    //CMYK Pattern
    // increase the cmyk pattern in dark mode
    --dot-size: 8px;
  }
  // Dim images
  img {
    opacity: 0.8;
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}
header {
  background-color: var(--color-background);
}

header {
  nav {
    a {
      color: var(--color-text);
    }
    ul {
      li {
        background: var(--color-surface);
        border-bottom: .1rem solid var(--color-border);

        &.active {
          background: var(--color-accent);
          a {
            color: var(--color-background);
          }
        }
      }

      .nav-category {
        background: var(--color-highlight);
      }
    }
  }
}