@use "breakpoints" as bp;
/*
  Overrides to specific specimen pages
  The specimen page uses the foldername as a baseclass
*/

@include bp.media-breakpoint-up(lg) {
    .playwritedela {
        p {
            font-weight: 200;
        }
        .specimen-poster {
            border-image-source: unset;
            border: 1rem double skyblue;
            padding: 1rem;
        }
    }

    .junction,
    .firasans {
        .specimen-poster {
            border-image-source: url("../img/borders/LightBlue/border_lines.svg");
        }
    }

    .bodoni,
    .cormorant,
    .librebaskerville,
    .librecaslon,
    .texgyrepagella {
        .specimen-poster {
            border-image-source: url("../img/borders/Tan/border_historical.svg");
            border-image-slice: 41.5%;
        }
    }
    .metropolis {
        .specimen-poster {
            border-image-source: repeating-linear-gradient(-45deg, transparent, transparent 1rem, #ccc 1rem,P #ccc 2rem);
            border-image-slice: 40;
            border-image-repeat: round;
            border-image-width: 1rem;
        }
    }

    .overpass {
        .specimen-poster {
            border-image-source: url("../img/borders/DarkSeaGreen/border_lines.svg");
        }
    }

    .dinish {
        .specimen-poster {
            border-image-source: url("../img/borders/LightBlue/border_lines.svg");
        }
    }

    .jetbrainsmono,
    .maplemono {
        .specimen-poster {
            border-image-source: url("../img/borders/border-hash.svg");
            border-image-slice: 40;
            border-image-repeat: round;
            border-image-width: 2rem;
        }
    }
    .kalam,
    .krikikrak,
    .playwritedela,
    .texgyreschola {
        .specimen-poster {
            border-image-source: url("../img/borders/border-doodle.svg");
            border-image-slice: 40;
            border-image-repeat: round;
            border-image-width: 4rem;
        }
    }

    .atkinsonhyperlegiblenext {
        .specimen-poster {
            border: 1rem dotted slategray;
        }
    }

    .metropolis,
    .jost,
    .titillumweb,
    .texgyreadventor,
    .inter {
        .specimen-poster {
            border: 1rem double slategray;
        }
    }
}
