@use "modularscale";
@use "grid";

.specimen {
    // background-image: url("../img/Texturelabs_Paper_305XL.jpg");
    // background-size: cover;
}
.specimen-poster {
    line-height: 1.25rem;

    @media (min-width: 768px) {
        margin: 0.5rem;
        padding: 2rem 3rem;
        border-image-source: url("../img/borders/Tan/border_historical.svg");
        border-image-slice: 41.5%;
        border-image-width: 3rem;
        border-image-outset: 1rem;
        border-image-repeat: round round;
    }

    .header {
        text-align: center;
        border-bottom: 0.125rem solid var(--color);
        padding-bottom: 1rem;
        line-height: 50%;

        .author {
            font-size: .861rem;
            line-height: 100%;
            color: var(--color);
            font-variant-caps: small-caps;
        }
        .year {
            color: var(--color);
            font-variant-numeric: oldstyle-nums;
        }
        .fontinfo {
            margin: 0 auto;
            max-width: 60%;
            font-size: .681rem;
            line-height: 100%;
            color: var(--color);
            font-style: italic;
            margin-bottom: 1rem;
        }
        h1 {
            font-size: 3rem;
            letter-spacing: 0.15ch;
            min-height: 1em;
            font-weight: 600;
        }
        a {
            font-weight: 200;
            font-size: .681rem;
            font-variant-caps: small-caps;
        }
    }
    .seperator {
        border-bottom: 0.025rem solid #ccc;
    }

    .keywords {
        display: flex;
        font-size: 0.861rem;
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;

        li {
            display: block;
        }
    }
    .letters {
        font-size: clamp(1rem, 6cqi, 10cqw);
    }
    .hero-letters {
        color: var(--color-highlight);
        background: var(--color-background);
        padding: 1rem;
        position: relative;

        #text-clip text{
            margin:0;
            line-height: 100%;
            font-size: calc(6cqi + 6rem);
            font-weight: 900;
        }
    }
    .hero-word {
        grid-column: 1 / span 2;
        text-align: right;
    }
    .font-gallery {
        grid-column: 1 / span 2;
        display: flex;
        flex-wrap: wrap;

        figcaption {
            font-size: .861rem;
        }
        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 2rem;
            margin: 0;
            padding: 0;
        }
        .gallery-item {
            flex: 0 0 30%;
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
        }
        .image-source {
            font-size: .681em;
            display: flex;
        }
    }
    .latin {
        text-align: center;
        p {
            margin: 0;
            line-height: 150%;
        }
        .display-size-1,
        .display-size-2,
        .display-size-3,
        .display-size-4,
        .display-size-5,
        .display-size-6 {
            text-transform: uppercase;
            // font-variant-caps: small-caps;
        }
    }

    .alphabet_letters {
        display: flex;
        font-size: 1.5rem;
        line-height: 2rem;
        max-height: 2rem;
        letter-spacing: 0.66ch;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;

        span {
            display: flex;;
            flex: 0 0 auto;
        }
    }
    .numbers {
        justify-content: flex-end;
    }

    /* Unterer Bereich für Schriftfamilien */
    .type-families {
        border-top: 0.025rem solid #000;
        margin-top: 20px;
        padding-top: 10px;
    }

    .family-row {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 10px;
        border-bottom: 0.5px solid #eee;
    }

    .family-row span {
        font-size: 1.5rem;
    }
}

.waterfall {
    p {
        @include modularscale.ms(2, $responsive: true);
        flex: 1 0 auto;
        padding: 0 0 0.5rem 0;
        margin: 0 0 0.5rem 0;
        border-bottom: 0.025rem solid #ccc;
    }
    section {
        display: flex;
        flex-direction: row-reverse;
        /* justify-content: baseline; */
        align-items: baseline;
    }
    small {
        flex: 1;
        text-align: right;
        font-size: 0.5rem;
        color: #ccc;
        line-height: 0.5rem;
    }
}


.demo {
    &__word,
    &__paragraph {
        border-bottom: 0.025rem solid #ccc;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    &__alphabet {
        text-align: justify;
        font-size: 1.5em;
    }
    &__hero {
        font-size: 12em;
        line-height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    &__word {
        border-top: 0.025rem solid #ccc;
        font-size: 2em;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        text-align: right;
    }
    &__paragraph {
        p {
            margin: 0 0 1em 0;
            break-inside: avoid;
        }
        p + p {
            text-indent: 2ch;
        }
        padding-top: 1em;
    }
}
.letters__alphabet {
    font-size: 1.5em;
}
.ascii {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem 0.5rem;
    h2 {
        flex: 0 0 100%;
    }
    .l {
        flex: 0 0 3ch;
        height: 3ch;
        line-height: 2rem;
        text-align: center;
        padding: 0.75rem;
        border: 0.025rem solid #eee;

    }
}
