@use "breakpoints" as bp;

@include bp.media-breakpoint-up(md) {
    .specimen-poster {
        .hero {
            display: grid;
            grid-template-columns: 5fr 4fr;
            grid-gap: 1rem;
        }
        .hero-word,
        .alphabet {
            grid-column: 1 / span 2;
        }
    }

    // header,
    // section {
    //     grid-column: 1;
    // }

    // @include bp.media-breakpoint-up(md) {
    //     grid-template-columns: 5fr 4fr;
    //     grid-gap: 1rem;

    //     header,
    //     section {
    //         grid-column: 1;
    //     }

    //     .header,
    //     .seperator,
    //     .about-the-font,
    //     .latin,
    //     .type-families {
    //         grid-column: 1 / span 2;
    //     }
    //     .letters,
    //     .alphabet {
    //         grid-column: 1;
    //     }
    //     .hero-letters {
    //         grid-column: 2;
    //     }
    //     .waterfall,
    //     .ascii {
    //         grid-column: 1 /span 2;
    //     }
    // }
}
