

.cornflowerblue {
  color: CornflowerBlue;
}


  

  

  

  

  
.mediumblue {
  color: MediumBlue;
}
  

  
.sienna {
  color: Sienna;
}
  

  
.darkblue {
  color: DarkBlue;
}
  

  
.mediumorchid {
  color: MediumOrchid;
}
  

  
.deeppink {
  color: DeepPink;
}
  

  
.seagreen {
  color: seagreen;
}
  

  
.coral {
  color: Coral;
}
  

  
.teal {
  color: Teal;
}
  

  
.indigo {
  color: Indigo;
}
  

  
.cadetblue {
  color: CadetBlue;
}
  

  
.saddlebrown {
  color: SaddleBrown;
}
  

  
.royalblue {
  color: RoyalBlue;
}
  

  
.darkslateblue {
  color: DarkSlateBlue;
}
  

  
.salmon {
  color: Salmon;
}
  

  

  
.mediumblue {
  color: MediumBlue;
}
  

  
.mediumblue {
  color: MediumBlue;
}
  

  
.darkkhaki {
  color: DarkKhaki;
}
  

  

  

  
.darkslateblue {
  color: DarkSlateBlue;
}
  

  
.crimson {
  color: Crimson;
}
  

  

  

  

  

  

