


.indigo {
  color: color-mix(in oklab, indigo, var(--color-mix-light) 20%);
}
.bg-indigo {
  background-color: color-mix(in oklab, indigo, var(--color-mix-light) 20%);
}





.sienna {

  color: color-mix(in oklab, Sienna, var(--color-mix-light) 20%);
}
.bg-sienna {
  background-color: color-mix(in oklab, Sienna, var(--color-mix-light) 20%);
}





.seagreen {

  color: color-mix(in oklab, SeaGreen, var(--color-mix-light) 20%);
}
.bg-seagreen {
  background-color: color-mix(in oklab, SeaGreen, var(--color-mix-light) 20%);
}



.mediumblue {

  color: color-mix(in oklab, MediumBlue, var(--color-mix-light) 20%);
}
.bg-mediumblue {
  background-color: color-mix(in oklab, MediumBlue, var(--color-mix-light) 20%);
}



.mediumblue {

  color: color-mix(in oklab, MediumBlue, var(--color-mix-light) 20%);
}
.bg-mediumblue {
  background-color: color-mix(in oklab, MediumBlue, var(--color-mix-light) 20%);
}



.deeppink {

  color: color-mix(in oklab, DeepPink, var(--color-mix-light) 20%);
}
.bg-deeppink {
  background-color: color-mix(in oklab, DeepPink, var(--color-mix-light) 20%);
}



.mediumblue {

  color: color-mix(in oklab, MediumBlue, var(--color-mix-light) 20%);
}
.bg-mediumblue {
  background-color: color-mix(in oklab, MediumBlue, var(--color-mix-light) 20%);
}



.coral {

  color: color-mix(in oklab, Coral, var(--color-mix-light) 20%);
}
.bg-coral {
  background-color: color-mix(in oklab, Coral, var(--color-mix-light) 20%);
}


.teal {

  color: color-mix(in oklab, Teal, var(--color-mix-light) 20%);
}
.bg-teal {
  background-color: color-mix(in oklab, Teal, var(--color-mix-light) 20%);
}



.darkkhaki {

  color: color-mix(in oklab, DarkKhaki, var(--color-mix-light) 20%);
}
.bg-darkkhaki {
  background-color: color-mix(in oklab, DarkKhaki, var(--color-mix-light) 20%);
}





.indigo {

  color: color-mix(in oklab, Indigo, var(--color-mix-light) 20%);
}
.bg-indigo {
  background-color: color-mix(in oklab, Indigo, var(--color-mix-light) 20%);
}



.cadetblue {

  color: color-mix(in oklab, CadetBlue, var(--color-mix-light) 20%);
}
.bg-cadetblue {
  background-color: color-mix(in oklab, CadetBlue, var(--color-mix-light) 20%);
}



.darkslateblue {

  color: color-mix(in oklab, DarkSlateBlue, var(--color-mix-light) 20%);
}
.bg-darkslateblue {
  background-color: color-mix(in oklab, DarkSlateBlue, var(--color-mix-light) 20%);
}



.saddlebrown {

  color: color-mix(in oklab, SaddleBrown, var(--color-mix-light) 20%);
}
.bg-saddlebrown {
  background-color: color-mix(in oklab, SaddleBrown, var(--color-mix-light) 20%);
}







.mediumorchid {

  color: color-mix(in oklab, MediumOrchid, var(--color-mix-light) 20%);
}
.bg-mediumorchid {
  background-color: color-mix(in oklab, MediumOrchid, var(--color-mix-light) 20%);
}



.seagreen {

  color: color-mix(in oklab, seagreen, var(--color-mix-light) 20%);
}
.bg-seagreen {
  background-color: color-mix(in oklab, seagreen, var(--color-mix-light) 20%);
}



.coral {

  color: color-mix(in oklab, Coral, var(--color-mix-light) 20%);
}
.bg-coral {
  background-color: color-mix(in oklab, Coral, var(--color-mix-light) 20%);
}





.darkslateblue {

  color: color-mix(in oklab, DarkSlateBlue, var(--color-mix-light) 20%);
}
.bg-darkslateblue {
  background-color: color-mix(in oklab, DarkSlateBlue, var(--color-mix-light) 20%);
}



.salmon {

  color: color-mix(in oklab, Salmon, var(--color-mix-light) 20%);
}
.bg-salmon {
  background-color: color-mix(in oklab, Salmon, var(--color-mix-light) 20%);
}



.crimson {

  color: color-mix(in oklab, Crimson, var(--color-mix-light) 20%);
}
.bg-crimson {
  background-color: color-mix(in oklab, Crimson, var(--color-mix-light) 20%);
}







.mediumblue {

  color: color-mix(in oklab, MediumBlue, var(--color-mix-light) 20%);
}
.bg-mediumblue {
  background-color: color-mix(in oklab, MediumBlue, var(--color-mix-light) 20%);
}



.tomato {

  color: color-mix(in oklab, Tomato, var(--color-mix-light) 20%);
}
.bg-tomato {
  background-color: color-mix(in oklab, Tomato, var(--color-mix-light) 20%);
}




.skyblue {

  color: color-mix(in oklab, SkyBlue, var(--color-mix-light) 20%);
}
.bg-skyblue {
  background-color: color-mix(in oklab, SkyBlue, var(--color-mix-light) 20%);
}



.darkslateblue {

  color: color-mix(in oklab, DarkSlateBlue, var(--color-mix-light) 20%);
}
.bg-darkslateblue {
  background-color: color-mix(in oklab, DarkSlateBlue, var(--color-mix-light) 20%);
}









.rebeccapurple {

  color: color-mix(in oklab, RebeccaPurple, var(--color-mix-light) 20%);
}
.bg-rebeccapurple {
  background-color: color-mix(in oklab, RebeccaPurple, var(--color-mix-light) 20%);
}



.orangered {

  color: color-mix(in oklab, OrangeRed, var(--color-mix-light) 20%);
}
.bg-orangered {
  background-color: color-mix(in oklab, OrangeRed, var(--color-mix-light) 20%);
}



.royalblue {

  color: color-mix(in oklab, RoyalBlue, var(--color-mix-light) 20%);
}
.bg-royalblue {
  background-color: color-mix(in oklab, RoyalBlue, var(--color-mix-light) 20%);
}








  

