


.indigo {
  color: color-mix(in oklab, indigo, var(--color-mix-light) 20%);
}
.bg-indigo {
  background-color: color-mix(in oklab, indigo, var(--color-mix-light) 20%);
}



  

  

  

  

  

  

  
.steelblue {
  
  color: color-mix(in oklab, steelblue, var(--color-mix-light) 20%);
}
.bg-steelblue {
  background-color: color-mix(in oklab, steelblue, var(--color-mix-light) 20%);
}
  

  
.saddlebrown {
  
  color: color-mix(in oklab, saddlebrown, var(--color-mix-light) 20%);
}
.bg-saddlebrown {
  background-color: color-mix(in oklab, saddlebrown, var(--color-mix-light) 20%);
}
  

  
.dimgray {
  
  color: color-mix(in oklab, dimgray, var(--color-mix-light) 20%);
}
.bg-dimgray {
  background-color: color-mix(in oklab, dimgray, var(--color-mix-light) 20%);
}
  

  
.darkcyan {
  
  color: color-mix(in oklab, darkcyan, var(--color-mix-light) 20%);
}
.bg-darkcyan {
  background-color: color-mix(in oklab, darkcyan, var(--color-mix-light) 20%);
}
  

  
.dodgerblue {
  
  color: color-mix(in oklab, dodgerblue, var(--color-mix-light) 20%);
}
.bg-dodgerblue {
  background-color: color-mix(in oklab, dodgerblue, var(--color-mix-light) 20%);
}
  

  
.midnightblue {
  
  color: color-mix(in oklab, midnightblue, var(--color-mix-light) 20%);
}
.bg-midnightblue {
  background-color: color-mix(in oklab, midnightblue, var(--color-mix-light) 20%);
}
  

  
.darkblue {
  
  color: color-mix(in oklab, darkblue, var(--color-mix-light) 20%);
}
.bg-darkblue {
  background-color: color-mix(in oklab, darkblue, var(--color-mix-light) 20%);
}
  

  
.slategray {
  
  color: color-mix(in oklab, slategray, var(--color-mix-light) 20%);
}
.bg-slategray {
  background-color: color-mix(in oklab, slategray, var(--color-mix-light) 20%);
}
  

  
.darkslateblue {
  
  color: color-mix(in oklab, darkslateblue, var(--color-mix-light) 20%);
}
.bg-darkslateblue {
  background-color: color-mix(in oklab, darkslateblue, var(--color-mix-light) 20%);
}
  

  
.mediumslateblue {
  
  color: color-mix(in oklab, mediumslateblue, var(--color-mix-light) 20%);
}
.bg-mediumslateblue {
  background-color: color-mix(in oklab, mediumslateblue, var(--color-mix-light) 20%);
}
  

  
.peru {
  
  color: color-mix(in oklab, peru, var(--color-mix-light) 20%);
}
.bg-peru {
  background-color: color-mix(in oklab, peru, var(--color-mix-light) 20%);
}
  

  
.sandybrown {
  
  color: color-mix(in oklab, sandybrown, var(--color-mix-light) 20%);
}
.bg-sandybrown {
  background-color: color-mix(in oklab, sandybrown, var(--color-mix-light) 20%);
}
  

  
.coral {
  
  color: color-mix(in oklab, coral, var(--color-mix-light) 20%);
}
.bg-coral {
  background-color: color-mix(in oklab, coral, var(--color-mix-light) 20%);
}
  

  
.darkgoldenrod {
  
  color: color-mix(in oklab, darkgoldenrod, var(--color-mix-light) 20%);
}
.bg-darkgoldenrod {
  background-color: color-mix(in oklab, darkgoldenrod, var(--color-mix-light) 20%);
}
  

  
.sienna {
  
  color: color-mix(in oklab, sienna, var(--color-mix-light) 20%);
}
.bg-sienna {
  background-color: color-mix(in oklab, sienna, var(--color-mix-light) 20%);
}
  

  
.maroon {
  
  color: color-mix(in oklab, maroon, var(--color-mix-light) 20%);
}
.bg-maroon {
  background-color: color-mix(in oklab, maroon, var(--color-mix-light) 20%);
}
  

  
.olivedrab {
  
  color: color-mix(in oklab, olivedrab, var(--color-mix-light) 20%);
}
.bg-olivedrab {
  background-color: color-mix(in oklab, olivedrab, var(--color-mix-light) 20%);
}
  

  
.darkolivegreen {
  
  color: color-mix(in oklab, darkolivegreen, var(--color-mix-light) 20%);
}
.bg-darkolivegreen {
  background-color: color-mix(in oklab, darkolivegreen, var(--color-mix-light) 20%);
}
  

  
.orangered {
  
  color: color-mix(in oklab, orangered, var(--color-mix-light) 20%);
}
.bg-orangered {
  background-color: color-mix(in oklab, orangered, var(--color-mix-light) 20%);
}
  

  
.darkorange {
  
  color: color-mix(in oklab, darkorange, var(--color-mix-light) 20%);
}
.bg-darkorange {
  background-color: color-mix(in oklab, darkorange, var(--color-mix-light) 20%);
}
  

  
.forestgreen {
  
  color: color-mix(in oklab, forestgreen, var(--color-mix-light) 20%);
}
.bg-forestgreen {
  background-color: color-mix(in oklab, forestgreen, var(--color-mix-light) 20%);
}
  

  
.royalblue {
  
  color: color-mix(in oklab, royalblue, var(--color-mix-light) 20%);
}
.bg-royalblue {
  background-color: color-mix(in oklab, royalblue, var(--color-mix-light) 20%);
}
  

  
.goldenrod {
  
  color: color-mix(in oklab, goldenrod, var(--color-mix-light) 20%);
}
.bg-goldenrod {
  background-color: color-mix(in oklab, goldenrod, var(--color-mix-light) 20%);
}
  

  
.tan {
  
  color: color-mix(in oklab, tan, var(--color-mix-light) 20%);
}
.bg-tan {
  background-color: color-mix(in oklab, tan, var(--color-mix-light) 20%);
}
  

  
.lightslategray {
  
  color: color-mix(in oklab, lightslategray, var(--color-mix-light) 20%);
}
.bg-lightslategray {
  background-color: color-mix(in oklab, lightslategray, var(--color-mix-light) 20%);
}
  

  
.mediumorchid {
  
  color: color-mix(in oklab, mediumorchid, var(--color-mix-light) 20%);
}
.bg-mediumorchid {
  background-color: color-mix(in oklab, mediumorchid, var(--color-mix-light) 20%);
}
  

  
.rosybrown {
  
  color: color-mix(in oklab, rosybrown, var(--color-mix-light) 20%);
}
.bg-rosybrown {
  background-color: color-mix(in oklab, rosybrown, var(--color-mix-light) 20%);
}
  

  
.darkslategray {
  
  color: color-mix(in oklab, darkslategray, var(--color-mix-light) 20%);
}
.bg-darkslategray {
  background-color: color-mix(in oklab, darkslategray, var(--color-mix-light) 20%);
}
  

  
.teal {
  
  color: color-mix(in oklab, teal, var(--color-mix-light) 20%);
}
.bg-teal {
  background-color: color-mix(in oklab, teal, var(--color-mix-light) 20%);
}
  

  
.night {
  
  color: color-mix(in oklab, night, var(--color-mix-light) 20%);
}
.bg-night {
  background-color: color-mix(in oklab, night, var(--color-mix-light) 20%);
}
  

  
.burlywood {
  
  color: color-mix(in oklab, burlywood, var(--color-mix-light) 20%);
}
.bg-burlywood {
  background-color: color-mix(in oklab, burlywood, var(--color-mix-light) 20%);
}
  

  
.crimson {
  
  color: color-mix(in oklab, crimson, var(--color-mix-light) 20%);
}
.bg-crimson {
  background-color: color-mix(in oklab, crimson, var(--color-mix-light) 20%);
}
  

  
.darkred {
  
  color: color-mix(in oklab, darkred, var(--color-mix-light) 20%);
}
.bg-darkred {
  background-color: color-mix(in oklab, darkred, var(--color-mix-light) 20%);
}
  

  
.jetblack {
  
  color: color-mix(in oklab, jetblack, var(--color-mix-light) 20%);
}
.bg-jetblack {
  background-color: color-mix(in oklab, jetblack, var(--color-mix-light) 20%);
}
  

  

