// @use "breakpoints" as bp;

@use "_base/html";
@use "_base/colors";
@use "_base/typography";
@use "_base/footer";
@use "_base/navigation";

@use "_font-poster";
@use "_cards";
@use "_includes/html_colornames";

header {
  nav {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      align-items: center;

      li {
        display: flex;
      }

      .nav-category {
        padding: 0.5rem;
        font-weight: 600;
      }
    }

    a {
      padding: 0.5rem;
      text-decoration: none;
    }
  }
}

.svg_seperator {
  width: 100%;
  height: auto;
  margin: 1rem 0;

  .line {
    fill: none;
    stroke: var(--color-highlight);
    stroke-width: 0.15;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: none;
  }
}
.cmyk-mask {
  width: 0;
  height: 0;
}
.hero-letters,
.cmyk,
.cmyk-mask {
  // min-height: 10rem;
}
// Müssen gleiche Größe haben
.cmyk,
.cmyk-mask {
  width: 100%;
  clip-path: url("#text-clip");
  position: absolute;
  right: 1rem;
  top: 50%;
}

/* Basis-Styling für alle Farbebenen */
.cmyk-layer {
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  background-size: var(--dot-size) var(--dot-size);
  /* Größer als Container wegen der Rotation */
  width: 40rem;
  height: 40rem;
  transform-origin: 50% 50%;
  transition: background-size .5s ease-out;

  mix-blend-mode: multiply;
  @media (prefers-color-scheme: dark) {
    mix-blend-mode: screen;
  }
}

// .cmyk:hover .cmyk-layer {
//   background-size: var(--dot-size-large) var(--dot-size-large);
// }

.cmyk_cyan {
  transform: rotate(15deg) translate(0%, -50%);
  background-image: radial-gradient(
    var(--cmyk-cyan) var(--dot-start),
    transparent var(--dot-end)
  );
}

.cmyk_magenta {
  transform: rotate(75deg) translate(-25%, 0%);
  background-image: radial-gradient(
    var(--cmyk-magenta) var(--dot-start),
    transparent var(--dot-end)
  );
}

.cmyk_yellow {
  transform: rotate(0deg) translate(0%, -50%);
  background-image: radial-gradient(
    var(--cmyk-yellow) calc(var(--dot-start) * 1.2),
    transparent calc(var(--dot-end) * 1.2)
  );
}

.cmyk_black {
  transform: rotate(45deg) translate(-25%, -25%);
  background-image: radial-gradient(
    var(--cmyk-black) var(--dot-start),
    transparent var(--dot-end)
  );
}

@media (prefers-cmyk-scheme: dark) {
  .cmyk_cyan {
    background-image: radial-gradient(
      var(--cmyk-cyan) var(--dot-start),
      transparent var(--dot-end)
    );
  }

  .cmyk_magenta {
    background-image: radial-gradient(
      var(--cmyk-magenta) var(--dot-start),
      transparent var(--dot-end)
    );
  }

  .cmyk_yellow {
    background-image: radial-gradient(
      var(--cmyk-yellow) calc(var(--dot-start) * 1.2),
      transparent calc(var(--dot-end) * 1.2)
    );
  }

  .cmyk_black {
    background-image: radial-gradient(
      var(--cmyk-black) var(--dot-start),
      transparent var(--dot-end)
    );
  }
}

.fitty {
  display: inline-block;
  white-space: nowrap;
}
